
*{
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar .navbar-nav .nav-link {
    color: #009b03;
}
#top_box{
    height: 450px;
    width: 100%;
    color: white;
    background-color:#009b03;
    padding-top: 120px;
}
#top_box h1{
    font-weight: bold;
}
#sm-top{
    visibility: hidden;
}
@media screen and (max-width: 481px) {
    #i-1{
        display: none;
    }
    #i-2{
        display: none;
    }
    #sm-top{
        visibility: visible;
        margin: 0 auto;
        text-align: center;
    }
    #pc-top{
        display: none;
    }
}